<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
<h1>Hi <%= name %>,</h1>

<p>Congratulations! Your Dojo application is being reviewed by a member of the CoderDojo Foundation team. We will will respond to you within 48 hours, so hang tight while we check the information you have submitted.</p>

<p>Here are some things you can do while you wait on verification;
  <ul>
    <li>Check out our forums and community discussion <a href="https://forums.coderdojo.com">here</a></li>
    <li>Check out our resources for your Dojo <a href="https://kata.coderdojo.com">here</a></li>
  </ul>
  Just get in contact if you have any questions in the meantime and we will be in touch soon.
</p>

<p>The CoderDojo Foundation</p>


<% include ../common-en_US/footer.ejs %>
